.bg-image {
    background-image: url("../img/1db315228240eb2ed1a3432ab564f4f6.png");
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.bg-image-2 {
    background-image: url("../img/d4f899c6935f7367e06c143578e68166.png");
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bg-image-3 {
    background-image: url("../img/c81d1bdb4c7adff693638f4d62d438ce.png");
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bg-image-4 {
    background-image: url("../img/20e550c09684e25c5ccf2293650ab2ba.png");
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bg-image-5 {
    background-image: url("../img/e097a691a963d5bcb1d23a1b4ae6dfb0.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-shadow {
    background-color: rgba(20, 14, 43, 0.5);
}

.bg-image-between2 {
    background-image: url("../img/03.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-image-between1 {
    background-image: url("../img/02.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.hover-1 {
    position: relative;

}


.hover-1:hover {
        background-color: #A2936D;
        color: white;
    
}

.hover-2 {
    position: relative;
}

.hover-2:hover {
        background-color: white;
        color: black ;
}

.colorr {
    color: #87A8EB;
}




@keyframes hover-1 {
    0% {
        width: 0;
        height: 0;
    }
    50% {
        width: 106px;
        height: 2px;
    }
    75% {
        width: 0;
        height: 0;
    }
    100% {
        width: 0;
        height: 0;
    }

}
